.body {
    font-family: "helvetica neue","helvetica","lucida grande",arial,sans-serif;
    color: #fff;
    background-color: #A4A4A4;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    font-size: 18px;
}

body.fullScreen {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.forma-slide img {
    position:absolute; 
    z-index:-1;
    top:50px; 
    LEFT:168px; 
    WIDTH:720px; 
    HEIGHT:620px;
}

.forma-slide h1 {
    position:absolute;
    top:689px;
    left:794px;
    font-size:20px;
    color:#808080;
}
.forma-slide h2 {
    position:absolute;
    top:675px;
    left:720px;
    font-size:30px;
}

.light-on-dark h1,
.light-on-dark h3 {
    position: absolute;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: inline-block;
    padding: 0.1em 0.5em;
    opacity: 0.7;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    top: 3em;
    left: 2em;
}

.light-on-dark h3 {
    position: absolute;
    clear: both;
    top: 12em;
    left: 7em;
}

.image-label h1 {
    position: absolute;
    font-size: 150%;
    top: 40%;
    left: 55%;
}

.ndvi img {
    position: center;
    clear: both;
    height: 40%;
    width: 30%;
    z-index: -100;
}

.ts-graph img {
    position: fixed;
    top: -12em;
    left: 13em;
}

.title-image img {
    position: absolute;
    clear: both;
    top: 7em;
    left: 13em;
    z-index: -100;
}

.forma-image img {
    position: fixed;
    top: 50%;
    left: 50%;
}

.region-slide img {
    position: absolute;
    top: 75px;
    left: 100px;
    height: 600px;
    width: 825px;
}

.region-slide h1 {
    position: absolute;
    top: 65px;
    left: 600px;
    font-size: 25px;
    color:#E56717;
}

.region-slide h2 {
    position: absolute;
    top: 530px;
    left: 100px;
    font-size: 20px;
    color:#808080;
}

.region-slide h3 {
    position: absolute;
    top: 100px;
    left: 830px;
    font-size: 40px;
}

.time-series img {
    position: absolute;
    top: 100px;
    left: 90px;
    height: 550px;
    width: 825px;
    z-index: -1;
}

.time-series h1 {
    position: absolute;
    top: 60px;
    left: 160px;
    font-size: 25px;
}

.country-graphs img {
    position: absolute;
    top: 120px;
    left: 85px;
    height: 530px;
    width: 825px;
    z-index:-1;
}

.country-graphs h1 {
    position: absolute;
    top: 80px;
    left: 166px;
    font-size:30px;
}

.dissemination-graphic img {
    position: absolute;
    top: 60px;
    left: 108px;
    height: 625px;
    width: 800px;
    z-index:-1;
    border:2px solid #606060;
}

.prodes-map img {
    position: absolute;
    top: 100px;
    left: 130px;
    height: 550px;
    width: 550px;
    z-index:-1;
}

.prodes-map h1 {
    position: absolute;
    top: 360px;
    left: 720px;
    font-size:25px;
}

.prodes-map h2 {
    position: absolute;
    top: 400px;
    left: 720px;
    font-size:25px;
}

.prodes-map h3 {
    position: absolute;
    top: 440px;
    left: 720px;
    font-size:25px;
}
